{% if (opcache_zend_extension is defined) %}
zend_extension={{ opcache_zend_extension }}
{% endif %}
{% if (opcache_enable is defined) %}
opcache.enable={{ opcache_enable}}
{% endif %}
{% if (opcache_enable_cli is defined) %}
opcache.enable_cli={{ opcache_enable_cli }}
{% endif %}
{% if (opcache_memory_consumption is defined) %}
opcache.memory_consumption={{ opcache_memory_consumption}}
{% endif %}
{% if (opcache_interned_strings_buffer is defined) %}
opcache.interned_strings_buffer={{ opcache_interned_strings_buffer }}
{% endif %}
{% if (opcache_max_accelerated_files is defined) %}
opcache.max_accelerated_files={{ opcache_max_accelerated_files }}
{% endif %}
{% if (opcache_max_wasted_percentage is defined) %}
opcache.max_wasted_percentage={{ opcache_max_wasted_percentage }}
{% endif %}
{% if (opcache_use_cwd is defined) %}
opcache.use_cwd={{ opcache_use_cwd }}
{% endif %}
{% if (opcache_validate_timestamps is defined) %}
opcache.validate_timestamps={{ opcache_validate_timestamps }}
{% endif %}
{% if (opcache_revalidate_freq is defined) %}
opcache.revalidate_freq={{ opcache_revalidate_freq }}
{% endif %}
{% if (opcache_revalidate_path is defined) %}
opcache.revalidate_path={{ opcache_revalidate_path }}
{% endif %}
{% if (opcache_save_comments is defined) %}
opcache.save_comments={{ opcache_save_comments }}
{% endif %}
{% if (opcache_fast_shutdown is defined) %}
opcache.fast_shutdown={{ opcache_fast_shutdown }}
{% endif %}
{% if (opcache_enable_file_override is defined) %}
opcache.enable_file_override={{ opcache_enable_file_override }}
{% endif %}
{% if (opcache_optimization_level is defined) %}
opcache.optimization_level={{ opcache_optimization_level }}
{% endif %}
{% if (opcache_inherited_hack is defined) %}
opcache.inherited_hack={{ opcache_inherited_hack }}
{% endif %}
{% if (opcache_dups_fix is defined) %}
opcache.dups_fix={{ opcache_dups_fix }}
{% endif %}
{% if (opcache_blacklist_filename is defined) %}
opcache.blacklist_filename={{ opcache_blacklist_filename }}
{% endif %}
{% if (opcache_max_file_size is defined) %}
opcache.max_file_size={{ opcache_max_file_size }}
{% endif %}
{% if (opcache_consistency_checks is defined) %}
opcache.consistency_checks={{ opcache_consistency_checks }}
{% endif %}
{% if (opcache_force_restart_timeout is defined) %}
opcache.force_restart_timeout={{ opcache_force_restart_timeout }}
{% endif %}
{% if (opcache_error_log is defined) %}
opcache.error_log={{ opcache_error_log }}
{% endif %}
{% if (opcache_log_verbosity_level is defined) %}
opcache.log_verbosity_level={{ opcache_log_verbosity_level }}
{% endif %}
{% if (opcache_preferred_memory_model is defined) %}
opcache.preferred_memory_model={{ opcache_preferred_memory_model }}
{% endif %}
{% if (opcache_protect_memory is defined) %}
opcache.protect_memory={{ opcache_protect_memory }}
{% endif %}
{% if (opcache_restrict_api is defined) %}
opcache.restrict_api={{ opcache_restrict_api }}
{% endif %}
{% if (opcache_file_cache is defined) %}
opcache.file_cache={{ opcache_file_cache }}
{% endif %}
{% if (opcache_file_cache_only is defined) %}
opcache.file_cache_only={{ opcache_file_cache_only }}
{% endif %}
{% if (opcache_file_cache_consistency_checks is defined) %}
opcache.file_cache_consistency_checks={{ opcache_file_cache_consistency_checks }}
{% endif %}
{% if (opcache_huge_code_pages is defined) %}
opcache.huge_code_pages={{ opcache_huge_code_pages }}
{% endif %}