{% if (zend_extension is defined) %}
zend_extension={{ zend_extension }}
{% endif %}
{% if (opcache.enable is defined) %}
opcache.enable={{ opcache.enable}}
{% endif %}
{% if (opcache.enable_cli is defined) %}
opcache.enable_cli={{ opcache.enable_cli }}
{% endif %}
{% if (opcache.memory_consumption is defined) %}
opcache.memory_consumption={{ opcache.memory_consumption}}
{% endif %}
{% if (opcache.interned_strings_buffer is defined) %}
opcache.interned_strings_buffer={{ opcache.interned_strings_buffer }}
{% endif %}
{% if (opcache.max_accelerated_files is defined) %}
opcache.max_accelerated_files={{ opcache.max_accelerated_files }}
{% endif %}
{% if (opcache.max_wasted_percentage is defined) %}
opcache.max_wasted_percentage={{ opcache.max_wasted_percentage }}
{% endif %}
{% if (opcache.use_cwd is defined) %}
opcache.use_cwd={{ opcache.use_cwd }}
{% endif %}
{% if (opcache.validate_timestamps is defined) %}
opcache.validate_timestamps={{ opcache.validate_timestamps }}
{% endif %}
{% if (opcache.revalidate_freq is defined) %}
opcache.revalidate_freq={{ opcache.revalidate_freq }}
{% endif %}
{% if (opcache.revalidate_path is defined) %}
opcache.revalidate_path={{ opcache.revalidate_path }}
{% endif %}
{% if (opcache.save_comments is defined) %}
opcache.save_comments={{ opcache.save_comments }}
{% endif %}
{% if (opcache.fast_shutdown is defined) %}
opcache.fast_shutdown={{ opcache.fast_shutdown }}
{% endif %}
{% if (opcache.enable_file_override is defined) %}
opcache.enable_file_override={{ opcache.enable_file_override }}
{% endif %}
{% if (opcache.optimization_level is defined) %}
opcache.optimization_level={{ opcache.optimization_level }}
{% endif %}
{% if (opcache.inherited_hack is defined) %}
opcache.inherited_hack={{ opcache.inherited_hack }}
{% endif %}
{% if (opcache.dups_fix is defined) %}
opcache.dups_fix={{ opcache.dups_fix }}
{% endif %}
{% if (opcache.blacklist_filename is defined) %}
opcache.blacklist_filename={{ opcache.blacklist_filename }}
{% endif %}
{% if (opcache.max_file_size is defined) %}
opcache.max_file_size={{ opcache.max_file_size }}
{% endif %}
{% if (opcache.consistency_checks is defined) %}
opcache.consistency_checks={{ opcache.consistency_checks }}
{% endif %}
{% if (opcache.force_restart_timeout is defined) %}
opcache.force_restart_timeout={{ opcache.force_restart_timeout }}
{% endif %}
{% if (opcache.error_log is defined) %}
opcache.error_log={{ opcache.error_log }}
{% endif %}
{% if (opcache.log_verbosity_level is defined) %}
opcache.log_verbosity_level={{ opcache.log_verbosity_level }}
{% endif %}
{% if (opcache.preferred_memory_model is defined) %}
opcache.preferred_memory_model={{ opcache.preferred_memory_model }}
{% endif %}
{% if (opcache.protect_memory is defined) %}
opcache.protect_memory={{ opcache.protect_memory }}
{% endif %}
{% if (opcache.restrict_api is defined) %}
opcache.restrict_api={{ opcache.restrict_api }}
{% endif %}
{% if (opcache.file_cache is defined) %}
opcache.file_cache={{ opcache.file_cache }}
{% endif %}
{% if (opcache.file_cache_only is defined) %}
opcache.file_cache_only={{ opcache.file_cache_only }}
{% endif %}
{% if (opcache.file_cache_consistency_checks is defined) %}
opcache.file_cache_consistency_checks={{ opcache.file_cache_consistency_checks }}
{% endif %}
{% if (opcache.huge_code_pages is defined) %}
opcache.huge_code_pages={{ opcache.huge_code_pages }}
{% endif %}